:root{
    --base-size: 0.85rem;
    
    --primary-color:#555e86;
    --highlight-bg: #e4e7f5;

    --error-color: #e24c4c;
    --highlight-text-color: #f16363;
    --primary-color-text:#ffffff;
    --text-color-secondary:#6c757d;
    --font-family:-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    --content-padding:1.25rem;
    --inline-spacing:0.5rem;
    --border-radius:6px;
    --maskbg: rgba(0, 0, 0, 0.4);
    --focus-boxshadow: none;
    color-scheme:light;
}